<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      {{ title }}!
    </h1>  
</div>
  
  <div class="align center">
    <form ngNativeValidate id="loginForm"  #f="ngForm" (ngSubmit)="login(f)">
        <table>
            <thead>
              <th colspan="2">Login del usuario</th>    
            </thead>
            <tr>
                <td><label>Usuario : </label></td>
                <td>
                    <input [ngModel] name="login" type="text" required  placeholder="Ingrese Usuario" />
                </td>
            </tr>
            <tr>
              <td><label>Password : </label></td>
              <td>
                  <input [ngModel] name="password" type="password" required  placeholder="Ingrese Password"/>
              </td>
            </tr>
            <tr>
                <td colspan="2">
                  <button type="submit">Ingresar</button>
                </td>
              </tr>      
          </table>
    </form>  
  </div>